@model List<Kategori>
@{
    ViewBag.Title = "Kategoriler";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Kategoriler</h1>
<p class="mb-4">Bu sayfada kategorileri görüntüleyebilir ve düzenleyebilirsiniz.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Kategoriler</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Kategori Adı</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.KategoriAd</td>
                            <td>
                                <a href="#" class="fas fa-trash" style="color:red; font-size:18px;" data-kategori-sil="@item.Id">Sil</a>

                                <a href="@Url.Action("Duzenle", "Kategoriler", new { id = item.Id })" 
                                   class="fas fa-edit" style="color:green; position:relative; left:15px; font-size:18px;">Düzenle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<form id="silForm" action="@Url.Action("Sil", "Kategoriler")" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" id="silFormId" />
</form>

@section scripts {
    <script>
    $(function () {

        $("[data-kategori-sil]").click(function () {

            var id = $(this).data("kategori-sil");

            if (confirm("Silmek istediğinize emin misiniz?")) {
                $("#silFormId").val(id);
                $("#silForm").submit();
            }

        });

        $("#dataTable").DataTable({
            language: {
                url: "@Url.Content("~/Areas/Admin/vendor/datatables/Turkish.json")"
            }
        });
    });
    </script>
}
